language: node_js
node_js:
- '8'
before_install:
- openssl aes-256-cbc -K $encrypted_fa294cda9902_key -iv $encrypted_fa294cda9902_iv
  -in id_rsa.enc -out ~/.ssh/id_rsa -d
- chmod 600 ~/.ssh/id_rsa
- echo -e "Host 59.110.233.80\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
install:
- npm i npminstall && npminstall
script:
- npm i -g pm2 
after_success:
- tar -jcf GMS.tar.bz2 * --exclude=mock --exclude=node_modules --exclude=src --exclude=.roadhogrc.mock.js
  --exclude=dbconfig.js
- scp GMS.tar.bz2 root@59.110.233.80:/home/GMS
- ssh root@59.110.233.80 'cd /home/GMS && tar -jxf GMS.tar.bz2'
- ssh root@59.110.233.80 'cd /home/GMS && cnpm i --production && pm2 restart app.js'
