<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <title>. 温梓茵</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <style media="screen">
    .root_loading_img{
        position: absolute;
        top: 26%;
        left: 34%;
    }
    @media screen and (max-width: 960px){
      .root_loading_img{
        width: 267px;
        height: 200px;
        position: absolute;
        top: 30%;
        left: 14%;
      }
    }
  </style>
</head>

<body>
  <div id="root">
    <img class="root_loading_img" src="./static/loading1.gif" alt="">
  </div>
</body>

</html>
